<template>
    <v-container>
        <v-row class="padding">
            <v-col md="12" sm="12" lg="12">
                <v-row class="mb-0 mt-0">
                    <v-col md="12" lg="12" sm="12 mt-0">
                        <nuxt-link to="/login" class="logOut">Log out
                        </nuxt-link>
                    </v-col>
                </v-row>
                <v-row class="justify-content-center mt-0">
                    <v-col md="10" sm="10" lg="10" class="text-left mt-0">
                        <h1>Dashboard</h1>
                        <hr class="mt-0">
                    </v-col>
                </v-row>
                <v-row class="justify-content-center">
                    <v-col md="10" sm="10" lg="10">
                        <div class="resultBox">
                            <v-row>
                                <v-col md="12" sm="12" lg="12 text-left">
                                    <h2>History of Search</h2>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col md="12" sm="12" lg="12">
                                    <v-btn color="primary"
                                           @click="showButton()">Show
                                        History</v-btn>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col md="12" sm="12" lg="12"
                                       class="text-left" v-for="(data,index) in
                                       gettingData" :key="index">
                                    <p class="p-custom">{{data}}</p>
                                </v-col>
                            </v-row>
                        </div>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>


<script>
    export default {
        data() {
            return {
                gettingData:[]
            }
        },
        methods:{
            showButton(){
                const data = JSON.parse(localStorage.getItem('history'))
                this.gettingData = data
            }
        },
        getters:{
        }
    }
</script>
<style>
    .padding {
        padding: 1rem;
    }

    h1 {
        color: #ffffff !important;
        font-size: calc(12px + 1rem) !important;
    }

    hr {
        background-color: #ffffff !important;
    }

    .logOut {
        color: #ffffff;
        float: right;
    }

    .resultBox {
        background-color: #ffffff;
        width: 100%;
        border: 2px solid #7F828B;
        height: auto;
    }

    h2 {
        font-size: calc(12px + 0.4rem);
        color: #ffffff;
    }
    .p-custom{
        color:#ffffff !important;
        font-size: calc(12px + 1rem) !important;
    }
</style>
