<template>
    <v-container fluid>
        <v-row>
            <v-col md="12" sm="12" lg="12">
                <nuxt-link class="loginButton" to="/login">Login</nuxt-link>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="12" lg="12" sm="12">
                <div class="custom-color">
                    <div>
                        <h1 class="mt-5">Welcome to search in GitHub
                            repositories</h1>
                        <nuxt-link class="button--green mt-5" to="/search">Click
                          Here to Continue</nuxt-link>
                    </div>
                </div>
            </v-col>
        </v-row>
      <v-row>
        <v-col md="12" sm="12" lg="12">
          <p>Programmed by: Farzin</p>
        </v-col>
      </v-row>
    </v-container>
</template>

<style>
    .button--green {
        background-color: #ffffff;
        display: inline-block;
        border-radius: 10px;
        border: none;
        color: #3b8070;
        text-decoration: none;
        padding: 10px 30px;
    }

    .button--green:hover {
        color: #3b8070;
        background-color: #F5F5F5;
    }

    h1 {
        color: #ffffff;
        font-size: calc(12px + 1rem);
        text-shadow: 1px 4px 14px red;
        font-weight: 600;
    }
  p{
    color:#ffffff;
    font-style: italic;
  }
    .loginButton{
        color: #ffffff !important;
        float: right;
    }
</style>
