<template>
    <v-container>
        <v-row>
            <v-col md="12" sm="12" lg="12">
                <v-row class="justify-content-center">
                    <v-col md="6" lg="6" sm="12">
                        <v-row>
                            <v-col md="12" sm="12" lg="12">
                                <input type="text" placeholder="User name"
                                       v-model="userName" @keyup="disableText">
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col md="12" sm="12" lg="12">
                                <input type="password" placeholder="Password"
                                       v-model="password" @keyup="disableText">
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-btn @click="getBack()"
                                       color="primary">Back
                                </v-btn>
                                <v-btn @click="userLogin()"
                                       color="primary">Login
                                </v-btn>
                            </v-col>
                        </v-row>
                        <v-row v-if="showText">
                            <v-col>
                                <p class="err-custom">Either user name or password are
                                    wrong</p>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>


<script>
    export default {
        data() {
            return {
                userName: '',
                password: '',
                showText:false,
                time:2000
            }
        },
        methods: {
            userLogin() {
                if (this.userName === 'admin' && this.password === 'Admin@123') {
                    this.$router.push('/dashboard')
                } else {
                    this.showText = true;
                }
            },
            getBack() {
                this.$router.push('/')
            },
            disableText(){
              this.showText = false
            }
        }
    }
</script>


<style>
    input[type="text"] {
        padding: 0.5rem !important;
        border: none !important;
        background-color: #ffffff !important;
        border-radius: 10px !important;
    }

    input[type="password"] {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 0.5rem;
    }
    .err-custom{
        color:#ffffff;
    }
</style>
