<template>
    <v-container fluid>
        <v-row>
            <v-col md="12" sm="12" lg="12">
                <nuxt-link class="loginButton" to="/login">Login</nuxt-link>
            </v-col>
        </v-row>
        <v-row>
            <v-col md="12" sm="12" lg="12">
                <div class="mt-5">
                    <h1>Do not hesitate to search</h1>
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <input type="text" v-model="searchInput" class="inputSearch"
                       placeholder="Search here and press search button">
                <v-btn @click="getData(searchInput)" color="primary">Search
                </v-btn>
            </v-col>
        </v-row>
        <v-row v-for="(repository,index) in repositories" :key="index"
               class="justify-content-center">
            <v-col md="8" sm="12" lg="8" class="searchResult">
                <v-row>
                    <v-col sm="3" md="2" lg="2">
                        Id:{{repository.id}}
                    </v-col>
                    <v-col md="4" sm="5" lg="4">
                            Name:{{repository.name}}
                    </v-col>
                    <v-col md="6" lg="6" sm="7">
                        {{repository.description}}
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>


<script>
    export default {
        data() {
            return {
                repositories: [],
                searchInput: '',
                data:[],
                checkData:{}
            }
        },
        methods: {
        async  getData(search) {
            this.checkData = search;
            this.data.push(this.checkData);
            const gettingData= await this.$store.dispatch('searchData',
                {search:search});
            this.repositories = gettingData.data.items;
            localStorage.setItem('history',JSON.stringify(this.data))
            },
        },

    }
</script>

<style>
    h1 {
        color: #ffffff;
        font-size: calc(12px + 1rem);
        text-shadow: 1px 4px 14px red;
        font-weight: 600;
    }

    .inputSearch {
        width: 70%;
        border: 2px solid black;
        border-radius: 10px;
        color: black;
        background-color: #f7f8fb;
        padding: 0.5rem
    }

    .searchResult {
        border: 3px solid #ffffff;
        padding: 1rem;
        width: 100%;
        color: #ffffff;
        margin-top:5px;
        word-break: break-word;
    }
    .loginButton{
        color: #ffffff !important;
        float: right;
    }
</style>
